h1 {
  font-size: 1.4em;
  margin: 20px 0 0 0;
  font-weight: 400;
}
table {
  border-collapse: collapse;
  margin-bottom: 2em;
}
th, td {
  padding: 2px 5px;
}
input {
  border: 0 none;
  width: 320px;
  margin: 8px 0;
  background-color: #dfdfdf;
  font-size: 16px;
  padding: 0.5em 0.25em;
}
button {
  background-color: #008CBA;
  padding: 0.25em 0.85em;
  font-size: 14px;
  color: white;
  border: 0 none;
}
button:hover {
  background-color: #dfdfdf;
  color: gray;
}
.error{
  color: red;
  font-size: 20px;
}
.success{
  color: green;
  font-size: 20px;
}
